src/conf/xml-resources/web-service-references/WikiSearchWebService/wsdl/localhost_8080/WikipediaSearchWebService/WikiSearchWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://logic.wikisearch.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://logic.wikisearch.org/">

<xs:element name="doSearch" type="tns:doSearch"/>

<xs:element name="doSearchResponse" type="tns:doSearchResponse"/>

<xs:complexType name="doSearch">
<xs:sequence>
<xs:element name="keyword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doSearchResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>